.root {
    -fx-background-color: #1f1f1f;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 1em;
}

.header-label {
    -fx-text-fill: #64B5F6;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.toggle-button{
    -fx-text-fill: white;
}


.label {
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.jfx-text-field {
    -jfx-focus-color: #64B5F6;
    -jfx-unfocus-color: #BDBDBD;
    -fx-prompt-text-fill: #BDBDBD;
    -fx-text-fill: white;
    -fx-font-size: 1em;
}

.jfx-password-field {
    -jfx-focus-color: #64B5F6;
    -jfx-unfocus-color: #BDBDBD;
    -fx-prompt-text-fill: #BDBDBD;
    -fx-text-fill: white;
    -fx-font-size: 1em;
}

.hyperlink {
    -fx-text-fill: #64B5F6;
    -fx-font-size: 1em;
}

.hyperlink:hover {
    -fx-text-fill: #42A5F5;
}

.button {
    -fx-background-color: #64B5F6;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: #42A5F5;
}

#sideBox {
    -fx-background-color: #353535;
}

#messageText{
    -fx-text-fill: #ff3333;
}
