.root {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: #1f1f1f;
    -fx-font-size: 1em;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 0.9em;
    -fx-text-fill: white;
}

.toggle-button:selected, .toggle-button:selected #icon{
    -fx-background-color: transparent;
    -fx-fill: #64b5f6;
    -fx-text-fill: #64b5f6;
    -fx-border-color: transparent transparent #64b5f6 transparent;
    -fx-border-width: 0 0 3px 0;
    -fx-border-radius: 0;
}

.toggle-button:hover {
    -fx-background-color: #424242;
    -fx-text-fill-fill: #64b5f6;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.menu-button:hover {
    -fx-background-color: #424242;
    -fx-text-fill: white;
}

.context-menu * {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #535353;
}

#gridPane {
    -fx-background-color: #353535;
}

#icon {
    -fx-font-size: 1.5em;
    -fx-fill: white;
}
